nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav a {
  text-decoration: none;
  margin-left: 20px;
}
.logout-button {
  margin-left: 20px;
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
  padding: 0;
}